.animalDiv img {
width: 60px;

}

.animalsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  background-repeat: no-repeat;
  background-size: cover;
}

.animalDiv p {
  background-color: antiquewhite;
  max-width: fit-content;
}